* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  line-height: 1.7;
  color: #364d59 !important;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
li {
  list-style: none;
}
.text-left {
  text-align: left !important;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.d-flex {
  display: flex;
}
.text-primary {
  color: #dc3545 !important;
}
.text-yellow {
  color: #fdb62f;
}
.bg-warning {
  background-color: #ffc107 !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.mr-auto {
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-5 {
  margin-right: 3rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.site-section {
  padding: 7rem 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
.text-red {
  color: #fd4d40;
}
.text-yellow {
  color: #fdb62f;
}
.d-block {
  display: block !important;
}
.danger {
  background-color: #fd4d40;
}
.btn-primary {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-success {
  color: #212529;
  background-color: #71bc42;
  border-color: #71bc42;
}
.col-md-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.bg-light {
  background-color: #f6f5f5 !important;
}
.text-black {
  color: #000 !important;
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 300;
  color: #364d59;
}

.text-black {
  color: #000 !important;
}

.btn {
  border-radius: 30px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 10px 20px;
  text-decoration: none;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-teal {
  background: #16c3b0;
}
.btn.btn-danger {
  background: #fd4d40;
}

.btn-custom-1 {
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.teal {
  background-color: #16c3b0;
}
.text-teal {
  color: #16c3b0;
}
.text-cursive {
  font-family: "Indie Flower", cursive !important;
}
.bg-info {
  background-color: #17a2b8 !important;
}
.text-white {
  color: #fff !important;
}
/***** Header Start *****/

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
}
.site-navbar .site-logo {
  margin: 0;
  padding: 0;
  font-size: 2.7rem;
}
.site-navbar .site-logo a {
  color: #fff;
}
.site-info {
  line-height: 1.2;
  color: #fff;
  font-size: 0.9rem;
}
.site-info .block-icon {
  font-size: 2rem;
  color: #fd4d40;
}
.menu-wrap {
  padding: 10px 20px;
  background: #fff;
  border-radius: 100px;
}
.site-navbar .site-navigation .site-menu {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: #000 !important;
  display: inline-block;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu .active {
  color: #fd4d40 !important;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
/***** Header End *****/

/***** Hero Section Start *****/
.site-section-cover,
.site-section-cover .container {
  position: relative;
  z-index: 2;
}
.site-section-cover,
.site-section-cover .container > .row {
  height: calc(100vh - 196px);
  min-height: 777px;
}
.site-section-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.site-section-cover.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.site-section-cover h1 {
  font-size: 3rem;
  color: #fff;
  line-height: 1;
}
.site-section-cover p {
  font-size: 18px;
  color: #fff;
}
.learn-btn {
  padding: 24px 20px;
}
.hero-left {
  width: 41%;
}
.hero-right {
  width: 50%;
  align-self: end;
}
/***** Hero Section End *****/
/***** Section *****/
.single-pros-item {
  width: 30%;
  padding: 40px;
  margin: auto;
  position: relative;
  text-align: center;
}
.single-pros-item.red-box {
  background-color: #fd4d40;
}
.single-pros-item.yellow-box {
  background-color: #fdb62f;
}
.single-pros-item.teal-box {
  background-color: #16c3b0;
}
.single-pros-item.red-box .wrap-icon {
  background-color: #fd4d40;
}
.single-pros-item.yellow-box .wrap-icon {
  background-color: #fdb62f;
}
.single-pros-item.teal-box .wrap-icon {
  background-color: #16c3b0;
}

.single-pros-item .wrap-icon {
  position: relative;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  display: block;
  border-radius: 50%;
  margin-top: -70px;
  margin-bottom: 30px;
}
.single-pros-item .wrap-icon > span {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.single-pros-item h2 {
  font-size: 18px;
  color: #fff;
}
.single-pros-item p {
  color: rgba(255, 255, 255, 0.7);
}
/***** End Section *****/
/***** Section *****/
.about-img-box {
  max-width: 50%;
}
.about-img-box img {
  width: 100%;
}
.about-text-box {
  max-width: 41.66667%;
  padding-left: 3rem;
}
.about-text-box h3 {
  font-size: 28px;
  color: #0000;
  font-weight: 400;
  line-height: 1.2;
  margin: 8px 0;
}
/***** End Section *****/
/***** Section *****/
.about-text-area {
  text-align: center;
  margin: auto;
}
.about-text-area span {
  margin: 8px 0;
  font-size: 20px;
  font-style: italic;
  display: block;
}
.about-text-area h2 {
  font-size: 32px;
  font-family: inherit;
}
.package-items {
  max-width: 33.33333%;
  padding: 15px;
}
.single-package-item {
  background-color: white;
  color: #777;
  padding: 40px;
  border-radius: 7px;
  text-align: center;
}
.single-package-item .img-wrap {
  display: block;
  margin: 0 auto 30px auto;
  width: 80px;
}
.single-package-item h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.single-package-item p > a {
  margin-top: 2rem;
}

/***** End Section *****/

/***** Section *****/
.single-price-item {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  padding: 0 15px;
}
.single-price-item span {
  margin-bottom: 8px;
}
.single-price-item h2 {
  font-size: 32px;
  margin-bottom: 8px;
}
.pricing .price {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin-bottom: 30px;
  position: relative;
}
.teal-bg {
  background-color: #16c3b0;
}
.pricing .price:before {
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid #fff;
  content: "";
}
.pricing .price > span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pricing.teal .price {
  background: #16c3b0;
}
.pricing h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.ul-check {
  margin-bottom: 50px;
}
.ul-check li {
  line-height: 3;
}
.ul-check li span {
  margin: 0 10px;
}
.pricing h3 {
  font-size: 20px;
}
/***** End Section *****/

/***** Section *****/
.testimonial-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.testimonial-text-area h2 {
  font-size: 32px;
}
.testimonial-wrapper {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.testimonial-wrap {
  display: flex;
  background: #fd4d40;
  padding: 30px;
  box-shadow: 0 5px 30px -10px rgba(255, 255, 255, 0.5);
}
.testimonial-inner {
  display: flex;
}
.testimonial-single-item .testimonial-img {
  flex: 0 0 80px;
  margin-right: 3rem;
}
.testimonial-info .position {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.testimonial-info p {
  font-size: 20px;
  color: #fff;
}
.testimonial-info h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.single-testiomonial-data-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  text-align: center;
  align-items: center;
}
.single-testiomonial-data-item .def {
  font-size: 2rem;
}
/***** End Section *****/

/***** Section *****/
.about-area {
  flex: 0 0 100%;
  max-width: 100%;
  align-items: center;
}
.about-left h2 {
  margin: 0;
  font-size: 32px;
}
.about-right a {
  padding: 1rem 3rem;
}

/***** End Section *****/
